moodBookProject/*.iml
moodBookProject/.gradle
moodBookProject/local.properties
moodBookProject/.idea/caches
moodBookProject/.idea/libraries
moodBookProject/.idea/modules.xml
moodBookProject/.idea/workspace.xml
moodBookProject/.idea/navEditor.xml
moodBookProject/.idea/assetWizardSettings.xml
moodBookProject/.DS_Store
moodBookProject/build
moodBookProject/captures
moodBookProject/.externalNativeBuild
moodBookProject/.cxx
